[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pillow = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
redis = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
